In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [7]:
# Chargement des données
file_path = 'data/immodataParis.csv'
data = pd.read_csv(file_path)

df = data[['Arrondissement', 'Prix (€)',
       'Prix mensuel (€)', 'Pièce(s)', 'Surface (m2)', 'Date de vente']].copy()

df.head()

,Arrondissement,Prix (€),Prix mensuel (€),Pièce(s),Surface (m2),Date de vente
0,75001,750400,14431,2,52,22/05/2023
1,75001,330000,14348,1,23,28/04/2023
2,75001,360100,15657,1,23,29/03/2023
3,75001,286123,11005,1,26,10/02/2023
4,75001,411636,12864,2,32,28/12/2022